* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --color-xsite-1: #B26D1E;
    --color-xsite-2: #B26D1E;
    --color-xsite-3: #707070;
    --color-xsite-4: #00AEEF;
    --color-xsite-5: #F3B976;
    --color-xsite-6: #F6F2EA;
}

/*  */

.Case-Studies-cntainer {
    width: 100%;
    display: none;
    gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
}

/* top */

.Case-Studies-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 25px 65px;
}

.Case-Studies-top>h1 {
    color: #525252;
    font-size: 36px;
    font-weight: 900;
}

.Case-Studies-top>h2 {
    color: #52525288;
    font-size: 16px;
    font-weight: 600;
}

/* bottom */

.Case-Studies-bottom {
    padding: 0 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Case-Studies-box-1 ,
.Case-Studies-box-2 ,
.Case-Studies-box-3 {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: white;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

.Case-Studies-box-txts {
    width: 729px;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0 10px;
}

.Case-Studies-box-txts>h1 {
    color: #525252;
    font-size: 24px;
    font-weight: 700;
}

.Case-Studies-box-txts>h2 {
    color: #525252;
    font-size: 16px;
    font-weight: 400;
}

.Case-Studies-box-txts>h2>span {
    color: #525252;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.Case-Studies-box-txts>h3 {
    color: #525252;
    font-size: 16px;
    font-weight: 400;
}

.Case-Studies-arrow-right {
    margin: 0 36px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.318);
}

