* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --color-xsite-1: #B26D1E;
    --color-xsite-2: #B26D1E;
    --color-xsite-3: #707070;
    --color-xsite-4: #00AEEF;
    --color-xsite-5: #F3B976;
    --color-xsite-6: #F6F2EA;
}

/*  */

.Skills-container {
    width: 100%;
    padding: 31px 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.Skills-container>ul {
    width: 308px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Skills-container>ul>h1 {
    color: #525252;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
}

.Skills-container>ul>li {
    list-style: disc;
    margin-left: 30px;
}