* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --color-xsite-1: #B26D1E;
    --color-xsite-2: #fad680;
    --color-xsite-3: #707070;
    --color-xsite-4: #00AEEF;
    --color-xsite-5: #F3B976;
    --color-xsite-6: #F6F2EA;
}

/*  */

.nav-bar {
    width: 20%;
    height: 100%;
    background-color: #fad680;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* nav-top */

.nav-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px 0;
}

.nav-top > img {
    width: 100px;
    margin-bottom: 7px;
    transform: scale(1);
    transition: 0.1s;
}
.nav-top > img:hover {
transform: scale(1.2);
}

.nav-top > h1 {
    font-size: 28px;
    font-weight: 900;
    color: var(--color-xsite-1);
}
.nav-top > h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-xsite-1);
}

/* nav-top > menu */

.nav-top > ul {
    width: 100%; 
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-top > ul > li {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-xsite-1);
    padding: 10px 15px;
    border-radius: 50px;
    transform: scale(1);
    transition: 0.1s;
}

.nav-top > ul > li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* nav-bot */

.nav-bot {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 50px 0;
    border-top: 1px solid #F3B976;
}

.nav-bot > p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-xsite-1);
}

.nav-social {
    display: flex;
    gap: 5px;
}

.nav-social > i {
    color: #fad680;
    background-color: #B26D1E;
    padding: 5px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-social > i:hover {
    background-color: #fad680;
    color: #B26D1E;
    outline: 0.5px solid #B26D1E;
}